#_title {
    margin-bottom: 0px;
}

#_links {
    margin-bottom: 10px;
}

#_seperator {
    margin-bottom: 30px;
}


.request {
    margin-top: 30px;
    margin-bottom: 30px;   
}


@keyframes squeak {
  from { transform: scale(1.5, 0.5); }
  to { transform: scale(1.0, 1.0); }
}

.squeakable {
    cursor: pointer;
}
.squeakable.run {
    animation: squeak 0.2s;
}