---
permalink: /404.html

layout: base.liquid
css: 404.css
---

<div class="container">
    <div id="fourofour">404</div>
    <div id="desc">That page does not exist.</div>
</div>

<div id="tv_container">
    <div id="content">
        <img id="game" src="">
        <img id="tv" src="/assets/images/pages/404/tv.png">
        <img id="tv_light" src="/assets/images/pages/404/tv_light.png">
        <img class="chara" id="chara" src="/assets/images/pages/404/character.png">
        <img class="chara" id="chara_light" src="/assets/images/pages/404/character_light.png">
    </div>
</div>

<div class="container">
    <a href="/">> Go <b>home</b>.</a>
</div>


<script>
    games = [
        "sm64",
        "celeste",
        "smb1",
        "undertale",
        "isaac"
    ]

    pickedGame = games[Math.floor(Math.random() * games.length)];
    $("#tv_container #content #game").prop("src", `/assets/images/pages/404/deaths/${pickedGame}.gif`)
</script>