---
permalink: /404.html

layout: base.liquid
css: index.css
---

<div class="container" id="talent_container">
    <div id="container_header">
        <div id="title">404</div>
        <div id="buttons"></div>
    </div>
    <div id="container_content">
        This page does not exist.<br>
        <a href="/">> Escape</a>
    </div>
</div>